* {
  background-color: #dad9d9;
}


a:link {
  text-decoration: none;
  background-color: transparent;
}

header {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav__links {
  display: flex;
  justify-content: flex-end;
}

.transaction,
.nav__links li {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-left: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px 10px;
}

.transaction {
  margin-left: 25px;
}

.nav__links li:last-child {
  margin-right: 30px;
}

