<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      Домашняя страница
    </title>
    <link rel="stylesheet" href="/static/styles/home.css"> 
  </head>
  <body>
    <div>
      <header>
        <p class = 'transaction'>
          <a href="#">Транзакции</a>
        </p>
        <nav>
          <ul class = "nav__links">
            <li><a href = "">Войти</a></li>
            <li><a href = "http://localhost:8000/users/sign-up">Зарегистрироваться</a></li>
          </ul>
        </nav>
      </header>
    </div>
  </body>
</html>