<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
        Регистрация
    </title>
  </head>
  <body>
    <div class="main">
      <h2>Регистрация</h2>
      <form action="">
        <label>Почта:</label>
        <input type="email" placeholder="Введите почту">

        <label>Пароль:</label>
        <input type="password" placeholder="Установите пароль" autocomplete="new-password">
        
        <button type="submit">
            Submit
        </button>
      </form>
    </div>
  </body>
</html>